input/input_det/z*
input/input_det/DEM
input/input_det/logs
input/input_det/SWISSIMAGE_footprints
input/input-trne/*
input/input-prd/*
input/input_dt/*
output/*
tools/*
pre-processing/*
config/config_det_*